{% extends 'base.html' %}

{% block title %}{% if is_edit %}Edytuj urządzenie{% else %}Nowe urządzenie{% endif %} - Inwentaryzacja{% endblock %}

{% block content %}

<div class="page-header">
    {% if is_edit %}
        <h1>Edytuj urządzenie</h1>
    {% else %}
        <h1>Nowe urządzenie</h1>
    {% endif %}
</div>
<div class="detail-card">

    <form method="post" class="asset-form">

        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">

                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>

                {{ field }}

                {% if field.errors %}
                    <div class="form-error">
                        {{ field.errors }}
                    </div>
                {% endif %}

            </div>
        {% endfor %}

        <div class="form-actions">
            {% if is_edit %}
                <a href="{% url 'asset_detail' asset.id %}" class="cancel-button">
                    Anuluj
                </a>
            {% else %}
                <a href="{% url 'asset_list' %}" class="cancel-button">
                    Anuluj
                </a>
            {% endif %}

            <button type="submit" class="search-button">
                {% if is_edit %}Zaktualizuj{% else %}Zapisz{% endif %}
            </button>
        </div>

    </form>

</div>

{% endblock %}